/* This file is maintaned in https://github.com/ScanGov/components and copied to multiple projects during startup */
:root {
    --scangov-color-pages: #b7f5bd;
}

.fa-arrows-rotate {
    color: #ffe396 !important;
}

.fa-bell {
    color: #29e1cb !important;
}

.fa-bolt {
    color: #face00 !important;
}

.fa-brain {
    color: #fdb8ae !important;
}

.fa-calendar {
    color: #f8b9c5 !important;
}

.fa-certificate {
    color: #ffbe2e !important;
}

.fa-check-to-slot {
    color: #ffb4cf !important;
}

.fa-circle-check {
    color: #b7f5bd !important;
}

.fa-circle-info {
    color: #b8d293 !important;
}

.fa-circle-question {
    color: #97d4ea !important;
}

.fa-code {
    color: #bbc8f5 !important;
}

.fa-comment {
    color: #c5c5f3 !important;
}

.fa-dashboard {
    color: #ffbc78;
}

.fa-diagram-project {
    color: #7efbe1 !important;
}

.fa-face-smile {
    color: #fffb00;
}

.fa-file {
    color: #a8f2ff;
}

.fa-file-lines {
    color: #a8f2ff;
}

.fa-filter {
    color: #cbc4f2;
}

.fa-gauge-simple {
    color: #ffbc78;
}

.fa-gauge-high {
    color: #ffbc78;
}

.fa-graduation-cap {
    color: #c7efe2;
}

.fa-laptop {
    color: #9bd4cf;
}

.fa-landmark {
    color: #ffffff !important;
}

.fa-link {
    color: #7efbe1;
}

.fa-lock {
    color: #ff8d7b;
}

.fa-magnifying-glass {
    color: #ffe396;
}

.fa-map {
    color: #fdb8ae;
}

.fa-news {
    color: #f4b2ff;
}

.fa-rectangle-list {
    color: #f8b9c5;
}

.fa-robot {
    color: #e6e6e6;
}

.fa-satellite-dish {
    color: #c3ebfa !important;
}

.fa-scroll {
    color: #fee685 !important;
}

.fa-server {
    color: #fbbaa7;
}

.fa-share-nodes {
    color: #ffb4cf;
}

.fa-square-check {
    color: #c3ebfa;
}

.fa-timeline {
    color: #ffb4cf;
}

.fa-universal-access {
    color: #a8f2ff;
}

.fa-window-maximize {
    color: #ffcdd5;
}