---
layout: layouts/default
isPerson: true
pagination:
  data: people
  size: 1
  alias: person
eleventyComputed:
  title: "{{ person.name }}"
  permalink: "/people/{{ person.slug }}/"
---

{% set personPosts = collections.postsByDate | filterByAuthor(person.slug) %}
{% if personPosts | length %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Posts</h2>
      <div class="row g-3">
        {% for post in personPosts %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-newspaper fa-lg d-block mb-2"></i>
                <h3 class="h4 mb-2 mt-3">
                  <a href="{{ post.url }}" class="stretched-link">{{ post.data.title }}</a>
                </h3>
                <p class="card-text small">{{ post.data.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
