---
layout: "layouts/default"
author: ScanGov
tags: feature

pagination:
    data: features
    size: 1
    alias: feature
    addAllPagesToCollections: true

eleventyComputed:
    title: "{{ feature.title }}"
    permalink: "/features/{{ feature.title | slugify }}/"
    description: "{{ feature.description }}"
    ogImage: "{{ indicator.ogImage }}"
    ogImageAlt: "{{ scan.ogImageAlt }}"
---

{% if feature.video %}
  <div class="container border-bottom mb-5 pb-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h2 class="mb-3">Watch</h2>
        <p class="">Learn more about ScanGov {{ feature.title }}:</p>
        <div class="ratio ratio-16x9 mb-4 border">
          <iframe
            src="https://www.youtube.com/embed/{{ feature.video }}?modestbranding=1&rel=0"
            title="{{ feature.title }}"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
{% endif %}
<div class="container">
  <h2 class="mb-3">Features</h2>
  {% include "feature_list.html" %}
</div>