---
layout: "layouts/default"
tags: indicator

pagination:
    data: indicators
    size: 1
    alias: indicator
    addAllPagesToCollections: true

breadcrumbParent:
  - url: "/indicators/"
    title: "Indicators"

eleventyComputed:
    title: "{{ indicator.name }}"
    permalink: "/{{ indicator.url }}/"
    description: "{{ indicator.description }}"
    ogImage: "{{ indicator.ogImage }}"
    ogImageAlt: "{{ indicator.ogImageAlt }}"
    breadcrumbCurrent: "{{ indicator.name }}"
---

{# <div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8  pt-3 pb-4 mb-5 border-bottom">
      <h2 class="mb-3">Why it matters</h2>
      <blockquote>
        <p class="lead">{{ indicator.why }}</p>
      </blockquote>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div> #}
{# {% for item in indicator.videos %}
  <div class="container page-section">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h2 class="mb-3">Watch</h2>
        <p>Learn more about ScanGov {{ indicator.name }}:</p>
        <div class="ratio ratio-16x9 mb-4 border">
          <iframe
            src="https://www.youtube.com/embed/{{ item.id }}?modestbranding=1&rel=0"
            title="{{ item.title }}"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
{% endfor %} #}
<div class="container pb-4 mb-4 border-bottom">
  <div class="row g-3">
    <div class="col-12 col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <i class="fa-solid fa-bolt fa-lg d-block mb-2"></i>
          <h2>What</h2>
          <p>ScanGov uses {{ indicator.standards.length }} {{ indicator.name | lower }} standards to help monitor and fix {{ indicator.what }}.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <i class="fa-solid fa-circle-question fa-lg d-block mb-2"></i>
          <h2>Why</h2>
          <p>{{ indicator.why }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body">
          <i class="fa-solid fa-triangle-exclamation fa-lg d-block mb-2"></i>
          <h2>Risks</h2>
          <p>{{ indicator.risk }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container page-section">
  <div class="row">
    <div class="col-12">
      <h2>Standards</h2>
      <p>Our {{ indicator.name }} standards.</p>
      {% set standards_list = indicator.standards %}
      {% include "standards_list.html" %}
    </div>
  </div>
</div>
<div class="container page-section">
  <div class="row">
    <div class="col-12">
      <h2>Guidance</h2>
      <p class=>Guidance we use to build our {{ indicator.name }} standards.</p>
      {% set standards_list = indicator.guidance %}
      {% set standards_list_type = "guidance" %}
      {% include "standards_list.html" %}
    </div>
  </div>
</div>
{% set hasRelatedNews = false %}
{% for post in collections.postsByDate %}
  {% if post.data.indicators and indicator.url in post.data.indicators %}
    {% set hasRelatedNews = true %}
  {% endif %}
{% endfor %}
{% if hasRelatedNews %}
<div class="container page-section">
  <div class="row">
    <div class="col-12">
      <h2>News</h2>
      <p>{{ indicator.name }} updates from ScanGov.</p>
      <div class="row g-3">
        {% for post in collections.postsByDate %}
          {% if post.data.indicators and indicator.url in post.data.indicators %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card">
                <div class="card-body">
                  <i class="fa-solid fa-newspaper fa-lg d-block mb-2"></i>
                  <h3 class="h4 mb-2 mt-3">
                    <a href="{{ post.url }}" class="stretched-link">{{ post.data.title }}</a>
                  </h3>
                  <p class="card-text small">{{ post.data.description }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{# {% set videos = false %}
{% for item in indicator.standards %}
  {% if item.videos and item.videos.length > 0 %}
    {% set videos = true %}
  {% endif %}
{% endfor %}
{% if videos %}
  <div class="container page-section">
    <div class="row">
      <div class="col-12">
        <h2>Videos</h2>
        <div class="row g-3">
          {% for item in indicator.standards %}
            {% for vid in item.videos %}
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
                <div class="card p-3">
                  <a href="/indicators/{{ indicator.url }}/{{ item.key }}/">
                    <img
                      width="360"
                      src="/../public/{{ vid.thumb }}"
                      alt="Image containing the words {{ vid.title }}"
                      loading="lazy"
                      class="border img-fluid">
                  </a>
                  <h3 class="h5 mt-3">{{ vid.title }}</h3>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %} #}
<div class="container">
  <h2 class="mb-3">Indicators</h2>
  <p>The four key areas ScanGov monitors.</p>
  {% include "indicator_list.html" %}
</div>