---
layout: "layouts/default"
date: 2025-08-30
modified:
author: ScanGov
title: "News"
description: "ScanGov updates."
pagination:
  data: collections.postsByDate
  size: 12
  alias: paginatedPosts
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-group">
        {% for post in paginatedPosts %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card mx-2 my-2 pt-2">
              <div class="card-body">
                <i class="fa-solid fa-newspaper fa-lg d-block mb-2"></i>
                <h2 class="h4 mb-2 mt-3">
                  <a href="{{ post.url }}" class="stretched-link">{{ post.data.title }}</a>
                </h2>
                <p class="card-text small">{{ post.data.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if pagination.pages.length > 1 %}
        <div class="row mt-3">
          <div class="col-12">
            <nav aria-label="Page navigation">
              <ul class="pagination flex-wrap">
                <li class="page-item{% if not pagination.href.previous %} disabled{% endif %}">
                  <a class="page-link" href="{{ pagination.href.previous or '#' }}" aria-label="Previous">Previous</a>
                </li>
                {%- for pageEntry in pagination.pages %}
                  <li class="page-item{% if page.url == pagination.hrefs[ loop.index0 ] %} active{% endif %}">
                    <a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
                  </li>
                {%- endfor %}
                <li class="page-item{% if not pagination.href.next %} disabled{% endif %}">
                  <a class="page-link" href="{{ pagination.href.next or '#' }}" aria-label="Next">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
