---
layout: "layouts/video"

pagination:
    data: scans
    size: 1
    alias: scan

eleventyComputed:
    title: "{{ scan.displayName }}"
    permalink: "/topic/{{ scan.topic }}/scan/{{ scan.key }}/"
    description: "{{ scan.description }}"
    ogImage: "{{ scan.ogImage }}"
---

{% for item in scan.videos %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="ratio ratio-16x9 mb-4 border">
          <iframe
            src="https://www.youtube.com/embed/{{ item.id }}?modestbranding=1&rel=0"
            title="{{ item.title }}"
            allowfullscreen></iframe>
        </div>
        <div class="border-bottom pb-4 mb-5">
          <h1 class="mb-3 h2">{{ item.title }}</h1>
          <p>{{ item.description }}</p>
        </div>
        <h2 class="mb-3 h2">Transcript</h2>
        {% set includeFile = "transcripts/" + scan.key + ".html" %}
        {% include includeFile %}
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h2 class="mb-3 h4">Related</h2>
        <ul>
          {% for indicator in indicators %}
            {% if indicator.url == scan.topic %}
              <li>
                <a href="/{{ indicator.url }}/">About ScanGov {{ indicator.name }}</a>
              </li>
              <li>
                <a href="https://standards.scangov.org/{{ indicator.url }}/">{{ indicator.name }} standards</a>
              </li>
              <li>
                <a href="https://standards.scangov.org/{{ scan.key }}/">{{ scan.displayName }} standard</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}