---
layout: "layouts/default"
title: Services
description: "Supporting government digital transformation."
ogImage: "https://scangov.com/assets/img/pages/services-og.png"
type: Organization
---

<div class="container">
  <div class="row">
    <div class="col-12">
      {% set category = "" %}
      {% for service in services.services %}
        {% if service.category != category %}
          {% if category != "" %}
            </div>
            {# close card group #}
          {% endif %}
          {% set category = service.category %}
          <h2 class="mb-4">{{ service.category }}</h2>
          <div class="card-group mb-4">
        {% endif %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
          <div class="card mx-2 mb-4">
            <div class="card-body p-0">
              <h3 class="card-title h5 border-bottom p-3">{{ service.name }}</h3>
              <div class="card-description p-3">
                <p class="card-text">{{ service.description }}</p>
                <ul class="card-text">
                  {% for output in service.serviceOutput %}
                    <li>{{ output }}</li>
                  {% endfor %}
                </ul>
              <!--
                {% if service.additionalProperty %}<p class="card-text border-top mt-4 mb-2 pt-3">Duration: {{ service.additionalProperty.value }}</p>
              {% endif %}
              -->
              </div>
            </div>
            <div class="card-footer">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKiSG0f07leAwW1QqIMSoDIgTA92m0jVy6NADtiaoPhg4rww/viewform?usp=header" class="btn btn-primary">Get started</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>