<div class="border-top mt-5 pt-4 social fs-4">
  <h2 class="h4">Connect with ScanGov</h2>
  <nav aria-label="Social media links">
    <ul class="list-unstyled d-flex gap-3">
      <li>
        <a href="https://discord.gg/EPCXEMAX5y" aria-label="Join ScanGov on Discord">
          <i class="fa-brands fa-discord"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/scangov" aria-label="Visit ScanGov on GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://scangov.substack.com" aria-label="Subscribe to ScanGov on Substack">
          <i class="fa-solid fa-envelope-open-text"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/company/scangov" aria-label="Follow ScanGov on LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://docs.scangov.org/feed.xml" aria-label="Subscribe to ScanGov RSS feed">
          <i class="fa-solid fa-rss"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>