<div class="alert alert-info small mt-5" role="alert">
  <h2 class="h3 mb-3">Connect with ScanGov</h2>
  <nav aria-label="Social media links" class="social fs-4">
    <ul class="list-unstyled d-flex gap-1 mb-0">
      <li>
        <a href="https://scangov.substack.com" aria-label="Subscribe to ScanGov on Substack" target="_blank" rel="noopener">
          <i class="fa-solid fa-envelope-open-text"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/company/scangov" aria-label="Follow ScanGov on LinkedIn" target="_blank" rel="noopener">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://youtube.com/@scangov" aria-label="Follow ScanGov on YouTube" target="_blank" rel="noopener">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://discord.gg/EPCXEMAX5y" aria-label="Join ScanGov on Discord" target="_blank" rel="noopener">
          <i class="fa-brands fa-discord"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/scangov" aria-label="Visit ScanGov on GitHub" target="_blank" rel="noopener">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://scangov.com/news/feed.xml" aria-label="Subscribe to ScanGov RSS feed" target="_blank" rel="noopener">
          <i class="fa-solid fa-rss"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

