<div id="cta-section" class="container">
  <div class="alert alert-info text-center mt-5 pb-5" role="alert">
    <h2 class="h1 mb-3">Start scanning ...</h2>
    <a href="/plans" class="btn btn-primary btn-lg">
      <i class="fa-solid fa-rocket me-2" aria-hidden="true"></i>Get started</a>
    &nbsp;
    <a
      href="/demo"
      aria-label="Schedule demo"
      class="btn btn-outline-primary btn-lg">
      <i class="fa-solid fa-calendar-check me-2" aria-hidden="true"></i>Schedule demo</a>
  </div>
</div>