<div class="card-group">
  {% for item in features %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card p-3 m-2">
        <h3 class="h4">{{ item.title }}</h3>
        <a href="/features/{{ item.title | slugify }}"><img
            loading="lazy"
            src="/../public/assets/img/pages/{{ item.img }}"
            class="mt-2 mb-3 img-fluid border rounded shadow stretched-link"
            alt="{{ item.title }}"></a>
      </div>
    </div>
  {% endfor %}
</div>