<div class="container">
  <footer class="mt-5 pt-5 border-top">
    <div class="row">
      {% for col in nav_footer %}
        <div class="col-6 col-sm-6 col-md-3 mb-3">
          <ul class="nav flex-column">
            {% for item in col %}
              <li class="small mb-1">
                <a href="{{ item.url }}" class="nav-link p-0 text-body-secondary">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="small">
        <a href="{{ site.org-url }}" style="text-decoration: none;">ScanGov</a>
        2025
      </p>
    </div>
  </footer>
</div>
<div id="feedback-container" class="text-center">
  <a
    href="https://my.scangov.com/scan"
    id="feedback-button"
    aria-label="Scan my site"
    class="feedback btn btn-lg">
    Scan my site
  </a>
</div>
<script>
  const feedbackButton = document.getElementById("feedback-button");
  window.addEventListener('scroll', () => {
    if (document.documentElement.scrollTop > window.innerHeight * .3) 
      feedbackButton.style.opacity = '1';
    else
      feedbackButton.style.opacity = '0';
  });
</script>
{% include "analytics.html" %}
{% include "js.html" %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll("h1").forEach(h1 => {
        h1.innerHTML = h1.innerHTML.replace(/\. +/g, ".<br>");
    });
  });
</script>
<!-- outputs all the icons used on the page -->
{% getBundle "fontawesome" %}