<footer>
  <!--
    <div class="container mt-5 pt-5 border-top">  <div class="row">    <div class="col-12">
        <h2 class="mb-4">Start scanning ...</h2>
        <a
          href="/demo"
          id=""
          aria-label="Schedule demo"
          class="btn btn-primary btn-lg shadow-md">
          Schedule demo
        </a>
        &nbsp;
        <a
          href="/plans"
          id=""
          aria-label="Get started"
          class="btn btn-primary btn-lg shadow-md">
          Get started
        </a>
      </div>
    </div>
  </div>
  -->
  <div class="container mt-5 pt-5 border-top">
    <div class="row">
      {% for col in nav_footer %}
        <div class="col-6 col-sm-6 col-md-3 mb-3">
          <ul class="nav flex-column">
            {% for item in col %}
              <li class="small mb-1">
                <a href="{{ item.url }}" class="nav-link p-0 text-body-secondary">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="small">
        <a href="https://scangov.com" style="text-decoration: none;">ScanGov</a>
        2025
      </p>
    </div>
  </div>
</footer>
<script>
  document.querySelector('button.navbar-toggler').addEventListener('click',function(e) {
    let el = document.querySelector(this.dataset.target);
    console.log(el)
    el.classList.toggle('show');
  })
</script>{% include "analytics.html" %}
<!-- outputs all the icons used on the page -->
{% getBundle "fontawesome" %}