<div class="row g-3">
  {% for item in indicators %}
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
      <div class="card p-4 w-100 text-center d-flex flex-column align-items-center">
        <a href="/{{ item.link }}" class="nav-link stretched-link">
          <i
            class="fa-solid fa-{{ item.icon }} fa-3x mb-3"
            aria-hidden="true"
            style="color: {{ item.color }}"></i>
          <h3 class="h5 my-2">{{ item.name }}</h3>
        </a>
        <p class="small text-body-secondary mb-0">{{ item.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>
