{% if layout == "layouts/default" %}
<div id="main-content">
    <div class="container py-5 mb-4 border-bottom">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                {% if title %}
                <h1 class="display-4 pb-0 mb-4">{{ title }}</h1>
                {% endif %}
                <div class="d-block d-md-none">
                    <a href="#plans"><img
                        src="/assets/img/pages/screenshot.png"
                        class="img-fluid border rounded shadow"
                        alt="Screenshot of ScanGov"></a>
                </div>
                {% if description %}
                <p class="lead mb-4">{{ description }}</p>
                <a href="/meet" class="btn btn-primary btn-lg shadow-md">Schedule demo
                </a>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-none d-md-block">
                <img
                    src="/assets/img/pages/screenshot.png"
                    class="img-fluid border rounded shadow mb-4"
                    alt="Screenshot of ScanGov">
            </div>
        </div>
    </div>
</div>
{% elif layout == "indicator" %}
<div id="main-content">
    <div class="container pt-5 pb-4 mb-4 border-bottom">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1 class="display-4 pb-0 mb-2">
                    <i class="fa-solid {{ icon }}" aria-label="hidden"></i>
                    {{ title }}
                </h1>
                {% if description %}
                <p class="lead mb-4">{{ description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="main-content">
    <div class="container pt-4 pb-2 mb-4 border-bottom">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1 class="display-5 pb-0 mb-2">{{ title }}</h1>
                {% if description %}
                <p class="lead">{{ description }}</p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-none d-md-block"></div>
        </div>
    </div>
</div>
{% endif %}
