<div id="main-content">
  <div class="container py-5 mb-4 border-bottom">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% if page.title %}
          <h1 class="display-5 pb-0 mb-4">{{ page.title }}</h1>
        {% endif %}
        <div class="d-block d-md-none">
          <a href="#plans"><img
              src="{{ site.baseurl }}/assets/pages/img/screenshot.png"
              class="img-fluid border rounded shadow"
              alt="Screenshot of ScanGov"></a>
        </div>
        {% if page.description %}
          <p class="lead mb-5">{{ page.description }}</p>
          <a href="#plans" class="btn btn-primary btn-lg shadow-md">Get started
          </a>
        {% endif %}
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-none d-md-block">
        <a href="#plans"><img
            src="{{ site.baseurl }}/assets/img/pages/screenshot.png"
            class="img-fluid border rounded shadow"
            alt="Screenshot of ScanGov"></a>
      </div>
    </div>
  </div>
</div></div>