<div class="row">
  {% for item in plans %}
    <div class="col-lg-3 d-flex">
      <div class="card card-plans mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 fw-normal h5">{{ item.title }}</h2>
        </div>
        <div class="card-body pt-4">
          <h3 class="card-title h2 pb-3">{{ item.price }}</h3>
          <ul class="list-unstyled mt-3 mb-4">
            {% for check in item.checks %}
              <li class="mb-2">
                <i class="fa-solid fa-circle-check" aria-label="hidden"></i>
                {{ check }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
          <a href="{{ item.ctaUrl }}" class="w-100 btn btn-lg btn-primary stretched-link">{{ item.ctaText }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>