<div class="card-group">
    {% for item in standards_list %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
        <div class="card px-4 py-3 m-1">
            <p class="m-0 p-0">
                {% if item.title %}
                    {% set name = item.title %}
                {% else %}
                    {% set name = item.displayName %}
                {% endif %}
                <a class="nav-link" target="_blank"
                    href="https://standards.scangov.org{% if standards_list_type == "guidance" %}{{ item.url }}{% else %}/{{ item.key }}{% endif %}/">
                    <i class="fa-solid fa-{% if standards_list_type == "guidance" %}scroll{% else %}certificate{% endif %}" aria-label="hidden"></i>
                    {{ name }}
                </a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
