---
layout: indicator
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container border-bottom mt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2>Standards</h2>
        <p>Accessibility standards we scan for.</p>
        <ul>
          <li><a href="{{ page.standard-url }}">{{ page.standard-text }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container border-bottom mt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h2>Guidance</h2>
        <p>Accessibility guidance in ScanGov Standards.</p>
        <div class="card-group">
          {% for item in site.data.guidance.docs %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card px-4 py-3 m-1">
                <p class="m-0 p-0">
                  <i class="fa-solid fa-circle-check" aria-label="hidden"></i>
                  {{ item.title }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Indicators</h2>
        <div class="card-group mt-4">
          {% for item in site.data.indicators.docs %}
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
              <div class="card p-4 text-center m-1">
                <i
                  class="{{ item.icon }} fa-3x mt-2 mb-2"
                  aria-label="hidden"
                  style="color: {{ item.color }}"></i>
                <h3 class="h5 mt-3">{{ item.title }}</h3>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}