---
layout: plans
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Starter</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">Free
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                One domain</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Homepage scan</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited users</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Documentation</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Prioritization tasklist</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKiSG0f07leAwW1QqIMSoDIgTA92m0jVy6NADtiaoPhg4rww/viewform" class="w-100 btn btn-lg btn-primary">Contact us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Basic</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">$49/mo
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                One domain</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                5,000 page scans / month (total)</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited users</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Support documentation</li>
                <i class="fa-solid fa-circle-check"></i>
                Prioritization tasklist</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                GitHub integration</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Public dashboard</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKiSG0f07leAwW1QqIMSoDIgTA92m0jVy6NADtiaoPhg4rww/viewform" class="w-100 btn btn-lg btn-primary">Contact us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Team</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">$199/mo
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                5 domains</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                20,000 page scans / month (total)</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited users</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Ticketing support</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Prioritization tasklist</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                GitHub integration</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Public dashboard</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKiSG0f07leAwW1QqIMSoDIgTA92m0jVy6NADtiaoPhg4rww/viewform" class="w-100 btn btn-lg btn-primary">Contact us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Enterprise</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">$499/mo
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited domains</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                50,000 page scans / month (total)</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited users</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Single sign-on</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Ticketing support</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Prioritization tasklist</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                GitHub integration</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Public dashboard</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKiSG0f07leAwW1QqIMSoDIgTA92m0jVy6NADtiaoPhg4rww/viewform" class="w-100 btn btn-lg btn-primary">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}