---
layout: "layouts/video"

pagination:
    data: now_scanning
    size: 1
    alias: website

eleventyComputed:
    title: "{{ website.page_title }}"
    permalink: "/now-scanning/{{ website.title | slugify }}/"
    description: "{{ website.description }}"
    ogImage: "{{ website.ogImage }}"
---

{% for item in now_scanning %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="ratio ratio-16x9 mb-4 border">
          <iframe
            src="https://www.youtube.com/embed/{{ item.video }}?modestbranding=1&rel=0"
            title="{{ item.title }}"
            allowfullscreen></iframe>
        </div>
        <div class="border-bottom pb-4 mb-5">
          <h1 class="mb-3 h4">{{ item.page_title }}</h1>
          <p>{{ item.description }}</p>
          <p>Learn more:</p>
          <ul>
            <li>{{ item.title }}
              <a href="{{ item.scorecard }}">ScanGov scorecard</a>
            </li>
            <li>
              <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
  </div>
{% endfor %}

<div class="container">
  <h2 class="mb-3">More</h2>
  {% include "now_scanning_list.html" %}
</div>