{% include "header.html" %}
<link href="/css/code.css" rel="stylesheet">
{% include "nav.html" %}
<main id="main-content">
  {% include "jumbotron.html" %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        {% if video %}
          <div class="ratio ratio-16x9 mb-5 border rounded">
            <iframe
              src="https://www.youtube.com/embed/{{ video }}?modestbranding=1&rel=0"
              title="{{ title }}"
              allowfullscreen></iframe>
          </div>
        {% endif %}
        <div class="post-content">
          {{ content | safe }}
        </div>
        {% include "actions.html" %}
        {% include "connect.html" %}
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
  {% set morePosts = collections.postsByDate | relatedPosts(page.url, keywords, topics) %}
  {% if morePosts | length %}
    <div class="container mt-5 pt-4 border-top">
      <h2 class="h4 mb-4">News</h2>
      <div class="row g-3">
        {% for post in morePosts %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <i class="fa-solid fa-newspaper fa-lg d-block mb-2"></i>
                <h3 class="h4 mb-2 mt-3">
                  <a href="{{ post.url }}" class="stretched-link">{{ post.data.title }}</a>
                </h3>
                <p class="card-text small">{{ post.data.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <a href="/news/" class="btn btn-outline-primary">News</a>
    </div>
  {% endif %}
</main>
{% include "footer.html" %}
